// Font
$root-font-family: Inter;
$root-font-size: 14px;
$root-font-weight: 600;

// Color
$white: hsl(0, 0%, 100%);
$neon-green: hsl(75, 94%, 57%);
$grey: hsl(0, 0%, 20%);
$dark-grey: hsl(0, 0%, 12%);
$off-black: hsl(0, 0%, 8%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: $root-font-weight;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $off-black;

  main {
    width: 327px;
    height: 579px;
    padding: 24px;
    background: $dark-grey;
    border-radius: 12px;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      width: 88px;
      height: auto;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .user-info {
      margin-bottom: 11px;
    }

    h1.user-name {
      font-size: 1.75rem;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p.user-address {
      color: $neon-green;
    }

    p.user-career {
      font-weight: 400;
      margin-bottom: 9px;
    }

    button.user-contacts {
      width: 100%;
      height: 45px;
      background-color: $grey;
      border-radius: 8px;
      border: none;
      outline: none;
    }

    button.user-contacts:hover {
      color: $dark-grey;
      background-color: $neon-green;
      cursor: pointer;
    }
  }
}

@media (min-width: 1440px) {
  body {
    main {
      width: 384px;
      height: 611px;
      padding: 40px;
    }
  }
}
